In [16]:
name = "Seungwon Kang"
age = 28
print("제 이름은 " + name + "이며, 나이는", age, "살 입니다.")

print(name)
print(age)

제 이름은 Seungwon Kang이며, 나이는 28 살 입니다.
Seungwon Kang
28

In [20]:
height = 176
dream = "Ai 엔지니어로 취업하는 것입니다."
print("제 키는" , height , "입니다.")
print("제 목표는 " + dream)

제 키는 176 입니다.
제 목표는 Ai 엔지니어로 취업하는 것입니다.

### **문제 3**

변수에 담긴 값을 다른 변수에 대입하는 연습을 해봅시다.

1. `city`라는 변수에 **당신이 살고 있는 도시 이름**을 문자열로 저장하세요.

1. `my_city`라는 변수에 `city` 변수의 값을 대입하세요.
2. 두 변수를 각각 `print()`로 출력해보세요.

In [31]:
city = "분당"
my_city = city
print(city)
print(my_city, city)

분당
분당 분당

### **문제 4**

다음과 같은 규칙에 맞는 변수를 작성하세요.

1. **사과의 개수**를 나타내는 변수를 `apple_count`로 선언하고 숫자 `10`을 저장하세요.
    
    ---
    
2. **오렌지의 개수**를 나타내는 변수를 `orange_count`로 선언하고 숫자 `20`을 저장하세요.
3. 두 변수를 출력해보세요.

In [22]:
apple_count = 10
orange_count = 20

print("사과의 개수는 ", apple_count, "개")
print("오렌지의 개수는 ", orange_count, "개")

사과의 개수는  10 개
오렌지의 개수는  20 개

### **문제 5**

다음과 같은 규칙을 지켜 변수를 작성하세요.

1. 변수 이름은 **스네이크 케이스**를 따릅니다.
2. `first_name`에 **당신의 이름의 첫 글자**를 문자열로 저장하세요.
3. `last_name`에 **당신의 성**을 문자열로 저장하세요.

1. `full_name` 변수에 `first_name`과 `last_name`을 이어붙여서 저장하세요.
2. `print()`를 사용해 `full_name`을 출력해보세요.

In [29]:
first_name = "Seungwon"
last_name = "Kang"
full_name = first_name + last_name

print(full_name)
ful_name = (first_name, last_name)
print(ful_name)

SeungwonKang
('Seungwon', 'Kang')