In [2]:
fruits = ["orange", "apple", "pear", "banana", "kiwi", "apple"]
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

In [3]:
fruits[0]

'orange'

In [5]:
rainbow_split = "빨-주-노-초-파-남-보"
print(rainbow_split.split("-"))

['빨', '주', '노', '초', '파', '남', '보']

In [6]:
list1 = []
list2 = list()

print(list1)
print(list2)
print(list1 == list2)

[]
[]
True

In [8]:
list3 = list("hello")
print(list3)
list3[0]

['h', 'e', 'l', 'l', 'o']

'h'

In [10]:
safari_list = ["bear", "koala", "gorila", "squireel"]
another_safari_list = ["Monkey", "Tiger", "Wolf"]

print(safari_list + another_safari_list)

# result = safari_list + another_safari_list
# print(result) 해도 결과값은 동일

['bear', 'koala', 'gorila', 'squireel', 'Monkey', 'Tiger', 'Wolf']

In [11]:
safari_list = ["Bear", "Koala", "Gorila", "squireel"]
result = safari_list * 4

print(result)

['Bear', 'Koala', 'Gorila', 'squireel', 'Bear', 'Koala', 'Gorila', 'squireel', 'Bear', 'Koala', 'Gorila', 'squireel', 'Bear', 'Koala', 'Gorila', 'squireel']

In [12]:
fruits = ["orange", "apple", "pear", "banana", "kiwi", "apple"]

print("apple:", fruits.count("apple"))

apple: 2

In [13]:
print("test:", fruits.count("test"))

test: 0

In [17]:
print("index:", fruits.index("apple"))

index: 1

In [18]:
print("index", fruits.index("apple", 3))

index 5

In [19]:
fruits.reverse()
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [22]:
lst = [1,2,3,4,5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

In [31]:
lst = [1,2,3,4,5]
lst2 = reversed(lst)
print(lst)
print(lst2)

for x in lst2:
    print(x, end=' ')

[1, 2, 3, 4, 5]
<list_reverseiterator object at 0x000001BEC75AAFE0>
5 4 3 2 1

In [29]:
fruits.append("pineapple")
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'pineapple']

In [34]:
random = ["apple", 1,2,3, ["orange", "kiwi"]]
print(random[4][0])

orange

In [ ]:
fruits.extend(["rainbow fruit", "sweet lemon"]) # extend함수와 append의 차이는 반복이 가능한것만 넣을 수 있다
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'pineapple', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon']

In [38]:
fruits

['apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange',
 'pineapple',
 'pineapple',
 'rainbow fruit',
 'sweet lemon',
 'rainbow fruit',
 'sweet lemon',
 'rainbow fruit',
 'sweet lemon']

In [39]:
fruits.insert(0, "monkey banana")
print(fruits)

['monkey banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'pineapple', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon']

In [45]:
fruits.sort(reverse=True)
print(fruits)

['sweet lemon', 'sweet lemon', 'sweet lemon', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'pineapple', 'pineapple', 'pear', 'orange', 'monkey banana', 'kiwi', 'banana', 'apple', 'apple']

In [46]:
fruits.sort(reverse=True)
print(fruits)

['sweet lemon', 'sweet lemon', 'sweet lemon', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'pineapple', 'pineapple', 'pear', 'orange', 'monkey banana', 'kiwi', 'banana', 'apple', 'apple']

In [47]:
fruits.sort(key=len)
print(fruits)

['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'pineapple', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'monkey banana']

In [49]:
#fruits.sort(key=lamda x:(len(x), x))
print(fruits)

['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'pineapple', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'monkey banana']

In [50]:
temp = fruits.remove("kiwi")
print(temp)
print(fruits)

None
['pear', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'pineapple', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'monkey banana']

In [52]:
lst = [2,3,5,1,4]
lst2 = sorted(lst)

print(lst)
print(lst2)

[2, 3, 5, 1, 4]
[1, 2, 3, 4, 5]

In [54]:
temp = fruits.pop()
print(temp)
print(fruits)

monkey banana
['pear', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'pineapple', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit']

In [55]:
plates = ["plate1", "plate2"]

plates.append("plate3")
plates.append("plate4")

print(plates)

['plate1', 'plate2', 'plate3', 'plate4']

In [56]:
print(plates.pop())
print(plates)
print(plates.pop())
print(plates.pop())
print(plates)

plate4
['plate1', 'plate2', 'plate3']
plate3
plate2
['plate1']

In [57]:
plates.remove("plate1")
print(plates)

[]

In [59]:
plates.append("plate1")
print(plates)

['plate1', 'plate1']

In [60]:
abclist = ["A", "B", "C", "D", "E"]
print(abclist)

['A', 'B', 'C', 'D', 'E']

In [61]:
del abclist[0]
print(abclist)

['B', 'C', 'D', 'E']

In [63]:
abclist.append("F")
print(abclist)
del abclist[1:3] #[시작:끝-1]
print(abclist)

['B', 'E', 'F', 'F']
['B', 'F']

In [64]:
del abclist[:]
print(abclist)

[]

In [65]:
del abclist
print(abclist)

NameError: name 'abclist' is not defined

In [66]:
from collections import deque

dq = deque()

dq.append("a")
dq.append("b")
dq.append("c")

print(dq)

deque(['a', 'b', 'c'])

In [67]:
dq.appendleft("x")
print(dq)

deque(['x', 'a', 'b', 'c'])

In [68]:
value = dq.pop()
print(value)

left_value = dq.popleft()
print(left_value)

print(dq)

c
x
deque(['a', 'b'])

In [70]:
tuples = (1,2, "hello")
print(tuples)
print(tuples[0])
print(tuples[1])
print(tuples[2])

(1, 2, 'hello')
1
2
hello

In [74]:
tuples = (1,2, "hello"), ("test",1,2,3,4)
print(tuples)
print(tuples[0])
print(tuples[1][0])

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
(1, 2, 'hello')
test

In [75]:
no_wrap_tuples = 1,2,3
print(no_wrap_tuples)

(1, 2, 3)

In [76]:
tuples = (1,2, "hello"), ("test",1,2,3,4)
tuples[0] = (1,2,3,4)

TypeError: 'tuple' object does not support item assignment

In [78]:
testList = (1,2,3,4)
print(id(testList))

testList = (3,4,5)
print(id(testList))

1918908832544
1918900905280

In [79]:
safari_tuple = ('Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf')
another_safari_tuple = ("monkey", "tiger", "wolf")

result = safari_tuple + another_safari_tuple
print(result)

('Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf', 'monkey', 'tiger', 'wolf')

In [80]:
print(safari_tuple * 3)

('Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf', 'Bear', 'Koara', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf')

In [81]:
print(len(safari_tuple + another_safari_tuple))

10

In [82]:
x,y,z = 1,2,3
print(x,y,z)
print(type(x))

1 2 3
<class 'int'>

In [83]:
x,y = y,x
print(x,y)

2 1

In [84]:
x,y,z = y,z,x
print(x,y,z)

1 3 2

In [85]:
str1 = "ohgiraffers"
print(str1[0])

o

In [86]:
name = "ohgiraffers"
print(type(name))

<class 'str'>

In [ ]:
address = "대한민국 서울시 서초구"
print(address[5]) # 서
print(address[9]) # 서

서
서

In [88]:
location = ["서울특별시", "부신", "인천", "광주", "울산"]
print(location[3])

광주

In [89]:
address = "대한민국 서울시 서초구"
print(address[-3]) # 
print(address[-7]) #

서
서

In [90]:
location = ["서울특별시", "부신", "인천", "광주", "울산"]
print(location[-5])

서울특별시

In [92]:
address = "대한민국 서울시 서초구"
print(address[4:8])

 서울시

In [96]:
location = ["서울특별시", "부산", "인천", "광주", "울산"]
print(location[2:])
print(location[2:5])

['인천', '광주', '울산']
['인천', '광주', '울산']

In [99]:
address = '대한민국 서울시 서초구'
print(address[9:])
print(address[-3:])
print(address[1:12:4])
print(address[::-1])

서초구
서초구
한서서
구초서 시울서 국민한대

In [5]:
location = ["서울특별시", "부산", "인천", "광주", "울산"]
print(location[3:]) # 광주 울산 출력
print(location[1:5]) # 부산 ~ 울산 출력
print(location[-4:]) # 부산 ~ 울산 출력
print(location[1:5:2]) # 부산 광주 출력
print(location[2::-1]) # 인천 부산 서울 순서대로

['광주', '울산']
['부산', '인천', '광주', '울산']
['부산', '인천', '광주', '울산']
['부산', '광주']
['인천', '부산', '서울특별시']

In [9]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스')
print(nation[1:]) #미국~프랑스
print(nation[-3:]) #중국~프랑스
print(nation[1:5:2]) # 미국, 일본
print(nation[::-1]) # 역순

('미국', '중국', '일본', '프랑스')
('중국', '일본', '프랑스')
('미국', '일본')
('프랑스', '일본', '중국', '미국', '대한민국')

In [ ]:
# 문자열
address = '대한민국 서울시 서초구'
print('대한민국' in address)       # True
print('국민한대' in address)       # False
print('서울시서초구' in address)    # False

True
False
False

In [11]:
# 리스트
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']
print('광주광역시' in location)                   # True
print(['광주광역시', '부산광역시'] in location)    # False
print(['서울특별시', '부산광역시'] in location)    # False

True
False
False

In [14]:
# 튜플
nation = ('대한민국', '미국', '중국', '일본', '프랑스', ('대한민국', '미국'))
print('미국' in nation)                 # True
print(('대한민국', '미국') in nation)    # False
print(nation[5][1])

True
True
미국

In [ ]:
address = '대한민국 서울시 서초구'
print(len(address)) # 12

12

In [ ]:
location = ["서울", "부산", "인천", "광주", "울산"]
print(len(location)) # 5

5

In [17]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스', ('대한민국', '미국'))
print(len(nation)) # 6

6

### **문제 1**

아래 조건에 맞게 리스트를 선언하고 결과를 출력하세요.

1. `fruits`라는 리스트에 다음 요소를 저장하세요.
    - `'apple', 'banana', 'cherry'`.
2. `print()`를 사용해 `fruits`의 첫 번째 요소와 세 번째 요소를 출력하세요.

In [18]:
fruits = ['apple', 'banana', 'cheery']
print(fruits[0], fruits[2])

apple cheery

numbers = [1,2,3,4,5]
print(len(numbers))

In [19]:
numbers = [1,2,3,4,5]
print(len(numbers))

5

### **문제 3**

다음 조건에 맞게 리스트를 조작하세요.

1. `animals` 리스트에 `'cat', 'dog', 'bird'`를 저장하세요.
2. 이 리스트의 마지막에 `'fish'`를 추가하고, 리스트를 출력하세요.

In [20]:
animals = ['cat', 'dog', 'bird']
animals.append('fish')
print(animals)

['cat', 'dog', 'bird', 'fish']

### **문제 4**

아래 조건에 맞는 프로그램을 작성하세요.

1. `numbers` 리스트에 숫자 `3, 6, 9`를 저장하세요.
2. 리스트의 첫 번째 요소를 **2배**로 만들어 다시 저장하고, 리스트를 출력하세요.

In [3]:
numbers = [3,6,9]
# numbers[0] = numbers[0] * 2
numbers[0] *= 2
print(numbers)

[6, 6, 9]

### **문제 5**

아래 문자열을 리스트로 변환하고 결과를 출력하세요.

1. 문자열 `'Python-is-fun'`을 `'-'`를 기준으로 분리하여 리스트로 만드세요.
2. 결과 리스트를 출력하세요.

In [27]:
temp = 'Python-is-fun'

print(temp.split("-"))

['Python', 'is', 'fun']

### **문제 6**

다음 조건에 맞게 **튜플**을 선언하고 활용하세요.

1. `my_tuple`이라는 이름으로 숫자 `10, 20, 30`을 가진 튜플을 선언하세요.
2. `my_tuple`의 두 번째 요소를 출력하세요.

In [28]:
my_tuple = (10, 20, 30)
print(my_tuple[1])

20

### **문제 7**

아래 조건에 맞게 리스트의 요소를 수정하세요.

1. `colors` 리스트에 `'red', 'blue', 'green'`을 저장하세요.
2. `'blue'`를 `'yellow'`로 변경하고 리스트를 출력하세요.

In [50]:
colors = ['red', 'blue', 'green']
colors[1] = 'yellow'
print(colors)

['red', 'yellow', 'green']

### **문제 9**

아래 조건에 맞게 리스트와 문자열을 활용하세요.

1. 리스트 `words`에 `'Life', 'is', 'too', 'short'`를 저장하세요.
2. 리스트의 요소를 공백으로 이어붙여 문자열 `'Life is too short'`를 출력하세요.

In [ ]:
words = ["Life", "is", "too", "short"]
print(words)
words_result = " ".join(words)
print(words_result)

# result = ' '.join(words)

['Life', 'is', 'too', 'short']
Life is too short

### **문제 10**

아래 조건에 맞는 프로그램을 작성하세요.

1. 리스트 `numbers`에 숫자 `1, 2, 3, 4, 5`를 저장하세요.
2. 슬라이싱을 이용하여 다음을 수행하세요:
    - 리스트의 **처음 3개의 요소**를 출력하세요.
    - 리스트의 **마지막 2개의 요소**를 출력하세요.
    - 리스트의 **모든 요소를 역순**으로 출력하세요.

In [ ]:
numbers = [1,2,3,4,5]
print(numbers[:3])
print(numbers[3:])
print(numbers[::-1])

[1, 2, 3]
[4, 5]
[5, 4, 3, 2, 1]

In [61]:
animals = ['tiger', 'cat', 'bear', 'rabbit']
result = animals[::-1]
print(result)

['rabbit', 'bear', 'cat', 'tiger']

In [ ]:
scores = [88, 92, 79 ,93, 85]
scores.sort()
print(scores)

[85, 93, 79, 92, 88]

In [ ]:
names = ['지민', '태형', '정국', '남준', '석진']
print(names[2])
print(names[-1:])

colors = ['red', 'blue', 'green', 'yellow', 'pink']
colors[1] = "navy"
print(colors)

print(colors[2:4])

nums = [3, 7, 2, 9, 4, 2, 9]
print(nums.count(2))
print(nums.index(9))

animals = ['cat', 'dog', 'rabbit', 'elephant', 'zebra']
new_animals = sorted(animals)
print(new_animals)
new_animals.remove("rabbit")
print(new_animals)

fruits_delicious = "apple,banana,grape,melon"
new_fruits_delicious = fruits_delicious.split(",")
print(new_fruits_delicious)
print(new_fruits_delicious.index("grape"))

info = ('홍길동', 20, '서울')
name, age, city = info
print(info, name, age)
seven = (1,2,3)
eight = (4,5)
print(seven + eight)

정국
['석진']
['red', 'navy', 'green', 'yellow', 'pink']
['green', 'yellow']
2
3
['cat', 'dog', 'elephant', 'rabbit', 'zebra']
['cat', 'dog', 'elephant', 'zebra']
['apple', 'banana', 'grape', 'melon']
2
('홍길동', 20, '서울') 홍길동 20
(1, 2, 3, 4, 5)

:

In [97]:
text = "Python is fun!"
print(text[7:9])
print(text[::-1])

is
!nuf si nohtyP

In [98]:
plates = []
plates.append('plate1')
plates.append('plate2')
plates.append('plate3')

last_dish = plates.pop()
print(plates)
last_second_dish = plates.pop()
print(plates)

['plate1', 'plate2']
['plate1']

In [2]:
plate = ["apple"]
print(plate)

['apple']