### **문제 1: 클래스 속성, 인스턴스 속성 테스트**

다람쥐는 이직 준비를 위해 자기소개서를 작성해야 합니다. `Squirrel`이라는 클래스를 만들어 다람쥐의 기본 정보를 설정하세요.

1. 클래스 속성 `species`를 설정하여 "다람쥐"로 초기화하세요.
2. 생성자를 통해 인스턴스 속성 `name`과 `current_job`을 설정하세요.
3. 메서드 `introduce`를 만들어 이름과 현재 직업을 소개하는 문자열을 반환하세요.
4. 다른 인스턴스를 생성해도 `species`는 공유되지만, `name`과 `current_job`은 서로 독립적임을 확인하세요.

In [20]:
class Squirrel:
    species = "다람쥐"
    
    def __init__(self, name, current_job):
        self.name = name
        self.current_job = current_job
    def introduce(self):
        return f"{self.name}, {self.current_job}"
    
temp1 = Squirrel("강승원", "SKN23")
temp2 = Squirrel("호랑이", "LG")
temp3 = Squirrel("곰", "SAM")

print(temp1.species)
print(temp2.species)
print(temp3.species)

print(temp1.introduce())
print(temp2.introduce())
print(temp3.introduce())

다람쥐
다람쥐
다람쥐
강승원, SKN23
호랑이, LG
곰, SAM

### **문제 2: 클래스 속성과 인스턴스 속성의 차이**

다람쥐는 이직 준비를 하며 다양한 직업 스킬을 학습 중입니다. 클래스 속성과 인스턴스 속성의 차이를 확인하세요.

1. `Character` 클래스를 생성하세요.
2. 클래스 속성 `skills`를 정의하여 빈 리스트로 초기화하세요.
3. 생성자에서 인스턴스 속성 `skills`를 별도로 초기화하세요.
4. `add_skill` 메서드에서 클래스 속성이 아닌 인스턴스 속성에 스킬을 추가하도록 수정하세요.

In [21]:
class Character:
    skills = []
    def __init__(self):
        self.skills = []
    def add_skill(self, skill):
        self.skill = skill
        self.skills.append(skill)
temp10 = Character()
print(temp10.add_skill("마법"))
print(temp10.skills)

None
['마법']

In [22]:
class Character:
    skills = []
    def __init__(self):
        self.skills = []
    def add_skill(self, skill):
        self.skill = skill
        self.skills.append(skill)
        return f"{skill}가 추가되었습니다."
    
temp6 = Character()

print(temp6.add_skill("법사"))

법사가 추가되었습니다.

### **문제 3: 인스턴스 속성과 클래스 속성의 우선순위**

다람쥐는 이직을 위해 별명을 여러 개 사용합니다. 클래스 속성으로 `nickname`을 설정하지만, 각 인스턴스마다 별명을 변경할 수 있습니다.

1. `Character` 클래스에 클래스 속성 `nickname`을 설정하세요.
2. 생성자에서 인스턴스 속성 `nickname`을 설정하세요.
3. 클래스 속성과 인스턴스 속성이 충돌할 때, 인스턴스 속성이 우선됨을 확인하세요.

In [23]:
class Character:
    nickname = "강승원"
    def __init__(self, nickname):
        self.nickname = nickname
    def showing(self):
        return f"{self.nickname}"
    
temp5 = Character("승원강")
print(temp5.showing())

승원강

### **문제 4: 네임스페이스 테스트 - 전역과 로컬**

다람쥐는 이직 준비 도구를 사용하며, 전역 변수와 로컬 변수를 관리합니다. `namespace_test` 함수를 작성해 네임스페이스를 테스트하세요.

1. 전역 변수 `tool`을 "연필"로 설정하세요.
2.  함수 `namespace_test` 내부에 로컬 변수 `local_tool`을 "키보드"로 설정하고, `global` 키워드를 사용해 전역 변수를 "펜"으로 수정하세요.
3. 함수 내부에서 로컬 변수와 전역 변수의 값을 출력하세요.

In [24]:
tool = "연필"
def namespace_test():
    local_tool = "키보드"
    global tool
    tool = "펜"
print(tool)
namespace_test()
print(tool)

연필
펜

### **문제 5: 네임스페이스 테스트 - 클래스와 인스턴스**

다람쥐는 이직 준비 중 클래스를 통해 도구를 관리합니다. `Toolbox` 클래스를 만들어 네임스페이스를 테스트하세요.

1. 클래스 속성 `tools`를 ["노트북", "책상"]으로 초기화하세요.
2. 생성자를 통해 인스턴스 속성 `tools`를 설정하고, 객체마다 다른 도구를 가질 수 있도록 설정하세요.
3. `add_tool` 메서드를 만들어 클래스 속성에 새 도구를 추가하세요.

In [25]:
# toolbox.py

class Toolbox:
    # 1) 클래스 속성
    tools = ["노트북", "책상"]

    # 2) 인스턴스 속성(객체마다 다르게)
    def __init__(self, tools):
        self.tools = tools

    # 3) 인스턴스 메서드지만, 클래스 속성에 추가
    def add_tool(self, tool):
        Toolbox.tools.append(tool)   # 또는 self.__class__.tools.append(tool)


# 사용 예시
box1 = Toolbox(["펜"])
box2 = Toolbox(["태블릿"])

box1.add_tool("마우스")   # 클래스 tools에 추가됨

print("클래스 tools:", Toolbox.tools)  # ['노트북', '책상', '마우스']
print("box1 tools:", box1.tools)       # ['펜']
print("box2 tools:", box2.tools)       # ['태블릿']

클래스 tools: ['노트북', '책상', '마우스']
box1 tools: ['펜']
box2 tools: ['태블릿']

In [26]:
class Tools:
    tools = ['노트북', '책상']

    def __init__(self):
        self.tools = []
    def add_tool(self, tool):
        self.tool = tool
        self.tools.append(tool)
        
temp9 = Tools()
temp9.add_tool("망치")
print(temp9.tools)

['망치']

In [27]:
class Toolbox:
    tools = ['노트북', '책상']
    def __init__(self):
        self.tools = []

    def add_tool(self, tool):
        self.tool = tool
        self.tools = Toolbox.tools.append(self.tool)
        return f"{self.tools}에 {self.tool}가 추가되었습니다."
    
temp7 = Toolbox()
temp8 = Toolbox()
print(temp7.add_tool("도끼"))
print(temp8.add_tool("망치"))

None에 도끼가 추가되었습니다.
None에 망치가 추가되었습니다.

class Toolbox:

### **문제 6: 네임스페이스 테스트 - nonlocal**

다람쥐는 이직 준비 중 추가적인 정보가 필요합니다. 중첩 함수와 `nonlocal` 키워드를 사용해 바깥 함수의 변수를 수정하세요.

1. 함수 `nested_function`을 작성하세요.

1. 바깥 함수의 변수 `status`를 "작성 중"으로 초기화하세요.
2. 중첩 함수에서 `status`를 "완료"로 수정하세요.

### 문제 1: **기본 상속을 활용한 클래스 생성**

---

다람쥐는 이직을 준비하며 새로운 직업군을 탐색하고 있습니다. 다람쥐의 기본적인 정보를 담는 `Person` 클래스를 만들고, 이를 상속받는 `Candidate` 클래스를 생성하세요.

1. `Person` 클래스:
    - 클래스 속성 `national`은 "Korea"로 설정합니다.
    - 메서드 `introduce`는 `"안녕하세요, 저는 한국에서 왔습니다."`를 반환합니다.
2. `Candidate` 클래스:
    - `Person` 클래스를 상속받습니다.
    - 생성자에서 이름(`name`)과 관심 분야(`field`)를 매개변수로 받아 저장합니다.
    - 메서드 `introduce`를 오버라이드하여 `"안녕하세요, 저는 [name]입니다. [field] 분야에 관심이 있습니다."`를 반환합니다.

### 문제 2: **다중 상속을 활용한 클래스 생성**

다람쥐는 이직을 준비하며 여러 강사님들의 도움을 받고 있습니다. 강사의 역할을 분리한 클래스를 만들어 상속 구조를 테스트하세요.

1. `Mentor` 클래스:
    - 메서드 `guide`는 `"이직 준비를 도와드립니다."`를 반환합니다.
2. `Lecturer` 클래스:
    - 메서드 `teach`는 `"이직에 필요한 기술을 가르쳐드립니다."`를 반환합니다.
3. `Coach` 클래스:
    - `Mentor`와 `Lecturer` 클래스를 다중 상속받습니다.
    - 메서드 `support`는 `"여러 방면으로 지원을 아끼지 않겠습니다."`를 반환합니다.

### 문제 3: **부모 클래스 속성 오버라이딩**

다람쥐는 이직 준비를 위해 개인적인 특성을 강조하고 있습니다. 부모 클래스의 메서드를 오버라이딩하여 각기 다른 인스턴스를 만들어보세요.

1. `Person` 클래스:
    - 속성 `name`과 `national`을 생성자로 받아 저장합니다.
    - 메서드 `introduce`는 `"안녕하세요, 저는 [name]입니다. 저는 [national]에서 왔습니다."`를 반환합니다.
2. `Candidate` 클래스:
    - `Person` 클래스를 상속받습니다.
    - `introduce` 메서드를 오버라이드하여 `"안녕하세요, 제 이름은 [name]이고, 이직 준비 중입니다."`를 반환합니다.

### 문제 4: **상속의 특성 통합 테스트**

다람쥐는 강사님들의 지도를 받으며 다양한 분야에서 경험을 쌓고 있습니다. 상속과 메서드 오버라이딩, 다중 상속을 종합적으로 테스트하세요.

1. `Mentor` 클래스:
    - 속성 `field`를 생성자로 받아 저장합니다.
    - 메서드 `guide`는 `"저는 [field] 분야의 멘토입니다."`를 반환합니다.
2. `Lecturer` 클래스:
    - 속성 `experience`를 생성자로 받아 저장합니다.
    - 메서드 `teach`는 `"저는 [experience]년의 강의 경력을 가지고 있습니다."`를 반환합니다.
3. `Candidate` 클래스:
    - `Mentor`와 `Lecturer` 클래스를 다중 상속받습니다.
    - `guide` 메서드를 오버라이드하여 `"저는 [field] 분야의 강사이며, 이직 준비를 도와드립니다."`를 반환합니다.

In [28]:
temp11 = "Python-is-fun"
list_temp = temp11.split("-")
print(list_temp)

['Python', 'is', 'fun']

In [29]:
my_tuple = (10, 20 ,30)
print(my_tuple[1])

20

In [30]:
colors = ['red', 'blue', 'green']
colors[1] = 'yellow'
print(colors)

['red', 'yellow', 'green']

In [31]:
numbers = [3,6,9]
numbers[0] = numbers[0] * 2
print(numbers)

[6, 6, 9]

In [32]:
temp12 = [1,2,3,4,5,6,7,8,9,10]
temp13 = []
for i in temp12:
    if i % 2 == 0:
        temp13.append(i)

print(temp13)

[2, 4, 6, 8, 10]

In [33]:
words = ['Life', 'is', 'too', 'short']
" ".join(words)
print(" ".join(words))

Life is too short

In [34]:
numbers = [1,2,3,4,5]

print(numbers[:3])
print(numbers[3::])
print(numbers[::-1])

[1, 2, 3]
[4, 5]
[5, 4, 3, 2, 1]

In [35]:
fruits = {'apple', 'banana', 'cherry'}

print(fruits)

{'cherry', 'banana', 'apple'}

In [36]:
animals = {'cat', 'dog', 'bird', 'fish'}
animals.remove('bird')
print(animals)

{'dog', 'cat', 'fish'}

In [37]:
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.union(set2))

{1, 2, 3, 4, 5}

In [38]:
student = {'name':'John', 'age':20, 'major':'Computer Science'}

for i in student:
    if i == 'age':
        print(student.get(i))

20

In [39]:
scores = {
    'math' : 80,
    'english' : 90
}

print(scores)
for i in scores:
    if i == 'math':
        scores[i] = 95

print(scores)

{'math': 80, 'english': 90}
{'math': 95, 'english': 90}

In [40]:
colors1 = {'red', 'blue', 'green'}
colors2 = {'blue', 'yellow', 'pink'}

print(colors1.intersection(colors2))

{'blue'}

In [41]:
temp14 = {
    'name' : "Alice",
    'age' : 25,
    'city' : 'Seoul'
}

print(temp14.keys())
print(temp14.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'Seoul'])

In [42]:
students = {
    'student1' : 85,
    'student2' : 90,
    'student3' : 95
}

removed_student2 = students.pop('student2')
print(removed_student2)
print(students)

90
{'student1': 85, 'student3': 95}

In [43]:
numbers = {1,2,3,4,5}
squares = {}

for i in numbers:
    squares.update({i : i**2})

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
A = {1,2,3,4}
B = {3,4,5,6}

print(A.symmetric_difference(B))

{1, 2, 5, 6}

In [ ]:
seoul = input("서울에 갈 계획이 있나요? (y/n)").upper()
if seoul == 'Y':
    print("서울에 간다!")
elif seoul == "N":
    print("서울에 안가!") 
else:
    print("Y 혹은 N으로 다시 입력하세요")

In [ ]:
furniture = input("집에 있는 가구를 다 가져갈까요? (Y/N)").upper()

if furniture == 'N':
    print("서울에서 가구를 새로 산다")

서울에서 가구를 새로 산다

In [ ]:
afford = int(input("숫자입력"))

if afford >= 50000:
    print("기차표를 구매했다")

기차표를 구매했다

In [ ]:
is_it_nice_weather = input("날씨")

if is_it_nice_weather == "y":
    print("서울 구경을 나간다")
elif is_it_nice_weather == 'N':
    print("집에서 쉰다.")

집에서 쉰다.

In [ ]:
monthly = int(input("월세 입력"))

if monthly <= 100000:
    print("고시원에서 산다")
else:
    print("원룸 계약")

고시원에서 산다

In [ ]:
customers = ['토끼', '곰', '여우', '호랑이']

for i in customers:

    print(i)

토끼
곰
여우
호랑이

In [ ]:
orders = ['아메리카노', '카페라데', '핫초코']

for i in orders:
    print(f"{i} 음료 준비중")

아메리카노 음료 준비중
카페라데 음료 준비중
핫초코 음료 준비중

In [ ]:
temp15 = 12 - 9

for i in range(9 , 12):
    print(i)

9
10
11

In [2]:
idle = 1
while True:
    
    print(idle)
    idle+=1
    if idle == 6:
        break

1
2
3
4
5

In [8]:
work_hours = int(input("일한 시간"))
count = 0

while True:

    
    if work_hours == 0:
        break
    count += 1000
    work_hours -= 1

print(count)

15000

In [10]:
customers = ['토끼', '곰', '여우', '호랑이', '늑대']

for i, val in enumerate(customers):
    print(i, val)
    if i == 3:
        break
    print(val)

0 토끼
토끼
1 곰
곰
2 여우
여우
3 호랑이

In [11]:
orders = ['아메리카노', '카페라떼', '핫초코', '모르겠어요']

for i in orders:
    if i == '모르겠어요':
        break
    print(i)

아메리카노
카페라떼
핫초코

In [16]:
table_list = [1,2,3,4,5,6]

for i in table_list:
    if i % 2 != 0:
        print(i, '청소완료')

1 청소완료
3 청소완료
5 청소완료

In [4]:
import random
def recommend_menu(*menus):
    asd = random.choice(menus)
    return asd


kdaf = recommend_menu("찌개", '불고기', '제육')
print(kdaf)

def recommend_menu(*menus):
    choice_menu = random.choice(menus)
    return choice_menu

result = recommend_menu('구내식당', '돈까스', '햄버거', '쌀국수', '김치찌개')

print(f"오늘의 점심 메뉴는 {result}입니다!")

불고기
오늘의 점심 메뉴는 돈까스입니다!

In [8]:
total_salary = 0
tax = 0
net_salary = 0
def calculate_salary(base_salary, bonus):
    total_salary = base_salary + bonus
    tax = total_salary * 0.1
    net_salary = total_salary - tax
    return total_salary, tax, net_salary
total_salary, tax, net_salary = calculate_salary(7000000, 700000)
print(f"{total_salary} 세전 {tax} 세금 {net_salary} 실수령")

7700000 세전 770000.0 세금 6930000.0 실수령

In [11]:
class Squirrel:
    species = "다람쥐"

    def __init__(self, name, current_job):
        self.name = name
        self.current_job = current_job

    def introduce(self):
        return f"{self.name} {self.current_job}"
    
temp16 = Squirrel("강승원", "슈퍼맨")
temp17 = Squirrel("강승원", "아이언맨")
print(temp16.introduce())
print(temp17.introduce())

강승원 슈퍼맨
강승원 아이언맨

In [12]:
class Character:
    skills = []
    def __init__(self):
        self.skills = []

    def add_skill(self, skill):
        self.skill = skill
        self.skills.append(skill)

temp18 = Character()
temp18.add_skill("마법")
print(temp18.skills)

['마법']

In [18]:
class Toolbox:
    tools = ["노트북", "책상"]
    def __init__(self):
        self.tools = []
    def add_tool(self, tool):
        self.tool = tool
        self.tools.append(tool)

temp19 = Toolbox()
temp19.add_tool("망치")
temp20 = Toolbox()
temp20.add_tool("도끼")
print(temp19.tools)
print(temp20.tools)

['망치']
['도끼']

In [23]:
def nested_function():
    status = "작성 중"
    def inner_functin():
        nonlocal status
        status = "완료"

    print(status)
    inner_functin()
    print(status)

nested_function()

작성 중
완료

In [28]:
class Person:
    national = "Korea"

    def introduce(self):
        return f"{self.national}한국에서 왔어"

class Candidate(Person):
    def __init__(self, name, field):
        self.name = name
        self.field = field
    def introduce(self):
        return f"{self.name} {self.field}"
    
temp21 = Person()
temp22 = Candidate("강승원", 'Ai')

print(temp21.introduce())
print(temp22.introduce())

Korea한국에서 왔어
강승원 Ai

In [32]:
class Mentor:
    def guide(self):
        return "이직 준비 도와드림"
    
class Lecturer:
    def teach(self):
        return "이직 필수 도와드림"

class Coach(Mentor, Lecturer):
    def support(self):
        return "여러 방면으로 지원 아끼지 않음"
    
temp23 = Mentor()
temp24 = Lecturer()
temp25 = Coach()

print(temp23.guide())
print(temp24.teach())
print(temp25.support())
print(temp25.guide())
print(temp25.teach())

이직 준비 도와드림
이직 필수 도와드림
여러 방면으로 지원 아끼지 않음
이직 준비 도와드림
이직 필수 도와드림

In [35]:
class Person:
    def __init__(self, name, national):
        self.name = name
        self.national = national
    def introduce(self):
        return f"{self.name} {self.national}"
    
class Candidate(Person):
    def introduce(self):
        return f"{self.name}"
    
temp26 = Person("강승원", "한국")
temp27 = Candidate("슈퍼맨강", "슈퍼")

print(temp26.introduce())
print(temp27.introduce())

강승원 한국
슈퍼맨강

In [39]:
class Mentor:
    def __init__(self, field):
        self.field = field
    def guide(self):
        return f"{self.field}"
class Lecturer:
    def __init__(self, experience):
        self.experience = experience
    def teach(self):
        return f"{self.experience}"
class Candidate(Mentor, Lecturer):
    def __init__(self, field, experience):
        Mentor.__init__(self, field)
        Lecturer.__init__(self, experience)
    def guide(self):
        
        return f"{self.field}"
    
temp28 = Candidate("강승원", 20)
print(temp28.guide())

강승원