In [4]:
num1 = 1
num2 = -1

print(type(num1))
print(type(num2))
print(type(123))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# 정수 진법별 접두사 (참고용)
# 2진수(0, 1) : 0b
# 8진수(0 ~ 7) : 0o
# 16진수(0 ~ 15) : 0x

a = 100
print(a)

b = 0o23
print(b)

c = 0xff
print(c)

100
19
255

In [11]:
# 정수의 최대값 (참고용)
import sys
print(sys.maxsize)

a = 9223372036854775807

9223372036854775807

In [5]:
num3 = 3.14
num4 = 1.0

print(type(num3))
print(type(num4))

<class 'float'>
<class 'float'>

In [13]:
# 지수 표현식
# 4.24E10 => 4.24 * 10*10, 4.24e-10은 4.24 * 10**-10

a = 4.24E3
b = 4.24e-3

print(a)
print(b)
print(type(a))
print(type(b))

4240.0
0.00424
<class 'float'>
<class 'float'>

In [ ]:
num5 = 3 + 4j

print(type(num5))

<class 'complex'>

In [14]:
print(complex(1, 1))  # 1+1j와 같다

(1+1j)

In [ ]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)

13
7
30
3.3333333333333335
3

In [17]:
num3 = 10
num4 = 0.1

print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)

10.1
9.9
1.0
100.0

In [18]:
num1 = 11
num2 = 7

print(num1 % num2)

4

In [19]:
num1 = 11
num2 = 7

print(num1 // num2)

1

In [20]:
base = 9
exponent = 2
result = base ** exponent

print(result)

81

In [22]:
bool1 = True
bool2 = False

print(bool1)
print(bool2)

print(type(bool1))
print(type(bool2))

True
False
<class 'bool'>
<class 'bool'>

In [ ]:
print(1 == 3) # False
print("ohgiraffers" != "Ohgiraffers") # True
print(100 > 99) # True
print(100 < 99) # False
print(0 >= 1) # False
print(0 <= 1) # True

False
True
True
False
False
True

In [26]:
print("a" > "A")
print("a" < "A")

True
False

In [27]:
print (1 != 3 and 100 > 99 and True) # True
print (1 != 3 and 100 > 99 and 100 < 99) # False

True
False

In [28]:
print(1 != 3 or 100 > 99 or True)        # True
print(1 != 3 or 100 > 99 or 100 < 99)    # True
print(1 == 3 or False or 100 < 99)       # False

True
True
False

In [31]:
print(not'orgiraffers' == 'Ogiraffers')
print(not True)

print('ohgiraffers' != "Ogiraffers")

True
False
True

In [32]:
my_name = "capybara"

In [34]:
print("""
세상에서 제일 긴 게 뭘까요?
기차? 기린의 목? 코끼리의 코?
전부 아닙니다.
여러분의 무한한 가능성입니다^^      
""")

세상에서 제일 긴 게 뭘까요?
기차? 기린의 목? 코끼리의 코?
전부 아닙니다.
여러분의 무한한 가능성입니다^^

In [36]:
# 여기에 1줄 주석을 씁니다
""" 개발에 대한 참고
이 함수는 나이를 반환하는 함수입니다.

입력값 : 문자열
출력값 : 숫자열
"""

' 개발에 대한 참고\n이 함수는 나이를 반환하는 함수입니다.\n\n입력값 : 문자열\n출력값 : 숫자열\n'

In [37]:
greeting = "반갑습니다"
name = "다람쥐"

print(greeting + name)
print(greeting + "다. " + name + "입니다!")

반갑습니다다람쥐
반갑습니다다. 다람쥐입니다!

In [39]:
name = "카피바라"
# print(900 + "살 " + name + "입니다.")

print(str(900) + "살 " + name + "입니다.")

900살 카피바라입니다.

In [41]:
subject = "python"
print("무슨 일이든 시작 전에 세 번만 외쳐보자. " + ("나는 " +subject + "잘할 수 있다!") * 3)

무슨 일이든 시작 전에 세 번만 외쳐보자. 나는 python잘할 수 있다!나는 python잘할 수 있다!나는 python잘할 수 있다!

In [43]:
enrole_date = "2024/12/16"
rep_enrole_date = enrole_date.replace("/", "-")

print(enrole_date)
print(rep_enrole_date)

2024/12/16
2024-12-16

In [53]:
origin = "ohgiraffers"
with_white_space = "       oh giraffers"

print(with_white_space.strip()) # 인자가 없으면 좌우공백 제거
print(origin)

oh giraffers
ohgiraffers

In [46]:
print(with_white_space.strip("               o"))

h giraffers

In [54]:
print(origin)

ohgiraffers

In [50]:
print(origin.lstrip('os'))

giraffers

In [59]:
origin_str = "hELLO wORLD"

print(origin_str.upper())
print(origin_str.lower())
print(origin_str.capitalize())
print(origin_str.swapcase())
print(origin_str.title())

HELLO WORLD
hello world
Hello world
Hello World
Hello World

In [62]:
x = 10
print("x is %d" %x)

y = "code"
print("y is %s" %y)

x is 10
y is code

In [72]:
x, y = 10, "code"

print("x is {0}".format(x))
print("x is {0} y is {1}".format(x,y))
print("x is {new_x} and y is {new_y}".format(new_x=x, new_y=y))

x is 10
x is 10 y is code
x is 10 and y is code

In [73]:
teacher_name = "카피바라"

print(f"안녕하세요. 오늘부터 여러분과 함께 공부할 {teacher_name} 강사 입니다.")

안녕하세요. 오늘부터 여러분과 함께 공부할 카피바라 강사 입니다.

In [74]:
print(origin.rstrip('os'))

ohgiraffer

In [75]:
print(origin.lstrip('oh'))

giraffers

In [79]:
print(3 + True)
print(3 + 5.0)

print(type(True + 3))
print(type(3 + 5.0))

4
8.0
<class 'int'>
<class 'float'>

In [84]:
print(3 , "5")
print(type(3))
print(type("5"))
print(3)
print("5")

3 5
<class 'int'>
<class 'str'>
3
5

In [85]:
print(int('3') + 4)

7

In [87]:
print(float("3"))

print(type("3"))
print(type(float("3")))

3.0
<class 'str'>
<class 'float'>

In [89]:
print(str(1))
print(str(1.0))
print(str({1,2,3}))

print(type(str(1)))
print(type(str(1.0)))
print(type(str({1,2,3})))

1
1.0
{1, 2, 3}
<class 'str'>
<class 'str'>
<class 'str'>

In [90]:
print(list("ohgiraffers"))

['o', 'h', 'g', 'i', 'r', 'a', 'f', 'f', 'e', 'r', 's']

In [93]:
print(list((1,2,3,4,5)))

[1, 2, 3, 4, 5]

In [ ]:
print(list({
    "1": "사랑하는 우리반",
    "2": "열심히 공부하십시오",
    "3": "선생님 부탁입니다."
}))

['1', '2', '3']
list['1']

### **문제 1**

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `num1`에 10을 저장하고, `num2`에 5를 저장합니다.
2. 두 변수를 더한 결과를 `sum_result`에 저장하고 출력하세요.

In [98]:
num1 = 10
num2 = 5

sum_result = num1 + num2
print(sum_result)

15

### **문제 2**

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `x`에 7.5를 저장하고, `y`에 2를 저장합니다.
2. `x`를 `y`로 나눈 결과를 `result`에 저장하고 출력하세요.

In [99]:
x = 7.5
y = 2
result = x / 7
print(result)

1.0714285714285714

다음 조건을 만족하는 프로그램을 작성하세요.

1. `num1`에 15를 저장하고, `num2`에 4를 저장합니다.
2. 두 수의 **나머지**와 **몫**을 각각 구하여 출력하세요

In [100]:
num1 = 15
num2 = 4
print(num1 % num2)
print(num1 // num2)

3
3

### **문제 4**

다음 조건에 맞는 변수를 선언하고 결과를 출력하세요.

1. `base`에 숫자 2를 저장하고, `exponent`에 숫자 5를 저장합니다.
2. `base`를 `exponent`만큼 제곱한 결과를 출력하세요.

In [101]:
base = 2
exponent = 5
print(base ** exponent)

32

### **문제 5**

다음 조건에 맞는 프로그램을 작성하세요.

1. `number`라는 변수에 숫자 3을 저장합니다.
2. 이 숫자가 **짝수인지 홀수인지**를 확인하세요.

In [ ]:
number = 3
print(number % 3 == 0)
# print(number % 2) 1로 나머지가 나오면 홀수

True

name = '다람쥐'
age = 20
gender = 'male'

 1. 이름이 다람쥐이면 True

 2. 성인이면 True (19세 이상을 성인이라고 기준함)

 3. 성인이면서 여성이면 True

 4. 이름이 호랑이이면서 성인이면서 남성이면 True

 5. 이름이 다람쥐이거나 성인이면 True

 6. 이름이 다람쥐가 아니면 True (논리연산 not 이용)

In [111]:
name = "다람쥐"
age = 20
gender = "male"
# 1.
print(name == "다람쥐")
# 2.
print(age >= 19)
# 3. 
print(age >= 19 and gender == "male")
# 4. 
print(name == "호랑이" and age >= 19 and gender == "male")
# 5.
print(name == "다람쥐" or age >= 19)
# 6. 
print(not name != "다람쥐")

True
True
True
False
True
True

### **문제 1**

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `bool1` 변수에 `True`를 저장하고, `bool2` 변수에 `False`를 저장하세요.
2. 두 변수의 type을 확인하세요.

In [120]:
bool1 = True
bool2 = False

print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

### 문제 2

다음 조건에 따라 **비교 연산 결과를 출력하는 코드**를 작성하세요.

1. 문자열과 숫자를 이용하여 다양한 비교 연산을 수행해보세요.
2. 각 비교식의 결과를 `print()` 함수를 사용하여 출력하세요.
3. 출력해야 하는 비교식은 다음과 같습니다.
    - `'hello'` 와 `'Hello'` 의 동일 여부
    - `100` 과 `100` 의 서로 다름 여부
    - `10` 과 `9` 의 대소 비교
    - `'a'` 와 `'A'` 의 대소 비교(문자 비교)

In [ ]:
print("hello" == "Hello")
print(100 != 100)
print(10 > 9)
print(10 < 9)
print("a" > "A")
print("A" > "a")

False
True
True
False
True
False

### 문제 3

다음 조건에 맞게 변수를 선언하고, 주어진 논리 조건식의 결과를 출력하세요.

1. `name` 에 문자열 `'카피바라'`를 저장하세요.
2. `age` 에 정수 `20`을 저장하세요.
3. `gender` 에 문자열 `'male'`을 저장하세요.
4. 아래 조건을 각각 검사하여 `print()`로 결과를 출력하세요.
    - 이름이 `'카피바라'`이면 `True`
    - 나이가 **19세 이상이면 성인**으로 판단하고, 성인이면 `True`
    - 성인이면서 남성이면 `True`
    - 이름이 `'호랑이'`이고, 성인이며, **남성**이면 `True`
    - 이름이 `'카피바라'`이거나 성인이면 `True`
    - 이름이 `'카피바라'`가 아니라면 `True` (`not` 사용)

In [136]:
name = "카피바라"
age = 20
gender = "male"

print(name == "카피바라")
print(age >= 19)
print(age >= 19 and gender == "male")
print(name == "호랑이" and gender == "male")
print(name == "카피바라" or age >= 19)
print(not name == "카피바라")

True
True
True
False
True
False

### 문제 1

아래 조건에 맞게 변수를 선언하고 결과를 출력하세요.

1. `greeting_message` 변수에 문자열 `"Hello"`를 저장합니다.
2. `greeting_target` 변수에 `"World"`를 저장합니다.
3. 두 문자열을 이어 붙여 `"HelloWorld"`를 출력하세요.

In [126]:
greeting_message = "Hello"
greeting_target = "World"
print(greeting_message + greeting_target)

HelloWorld

### **문제 2**

1. f-string을 사용하여 다음 문장과 같은 형태로 출력하세요.
    1. `age`에 당신의 나이, `city`에 당신의 거주지를 저장합니다.
    - `"나는 25살이고, Seoul에 살고 있습니다."`

In [128]:
age = 100
city = "mars"
print(f"나는 {age}살이고, {city}에 살고 있습니다")

나는 100살이고, mars에 살고 있습니다

### **문제 1**

아래 조건에 맞게 리스트를 선언하고 결과를 출력하세요.

1. `fruits`라는 리스트에 다음 요소를 저장하세요.
    - `'apple', 'banana', 'cherry'`.
2. `print()`를 사용해 `fruits`의 첫 번째 요소와 세 번째 요소를 출력하세요.

In [130]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0], fruits[2])

apple cherry

### **문제 2**

다음 조건을 만족하는 리스트를 만드세요.

1. `numbers`라는 리스트를 선언하고 숫자 `1`부터 `5`까지 저장하세요.
2. 이 리스트의 **길이**를 출력하세요.

In [133]:
numbers = [1,2,3,4,5]
print(len(numbers))

5

### **문제 3**

다음 조건에 맞게 리스트를 조작하세요.

1. `animals` 리스트에 `'cat', 'dog', 'bird'`를 저장하세요.
2. 이 리스트의 마지막에 `'fish'`를 추가하고, 리스트를 출력하세요.

In [ ]:
animals = ["cat", "dog", "bird"]

In [134]:
rainbow_split = '빨-주-노-초-파-남-보'
print(rainbow_split.split('-'))

['빨', '주', '노', '초', '파', '남', '보']